/* css styles */


body {
    background-image: url("visuals_for_website/Communities.png");
    background-color: rgba(14, 13, 13, 0.4); /* Adjust the opacity value (0.5) to change the transparency */
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  h1{
    font-size: 56 px;
    color: #ffffff; 
    font-weight: bold;
  }

  h2, p {
    font-size: 46 px;
    color: #ffffff; 
    font-weight: bold;
  }
