/* css styles */


body {
    background-image: url("visuals_for_website/Communities.png");
    background-color: rgb(71, 71, 71,0.7); /* Adjust the opacity value (0.5) to change the transparency */
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  h1, h2, p {
    color: #ffffff; /* Change to the desired font color */
    font-weight: bold;
  }
